.accordionC {
  .accordion {
    .accordionItem {
      background-color: var(--jupiter);

      .accordionTrigger {
        background-color: var(--cape-jasmine);
        padding: desktop-vw(20px);
      }

      .accordionContent {
        padding: desktop-vw(40px);
      }
    }
  }
}
