.wrapper {
  display: flex;
  .reactSplitText {
    font-size: desktop-vw(36px);
    font-weight: 700;
    line-height: 1.45;
    margin: desktop-vw(100px) auto;
    width: desktop-vw(800px);
  }

  .test {
    width: desktop-vw(400px);
  }
}
