// NBInternationalPro

@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalProBold.woff") format("woff"),
    url("/fonts/NBInternationalProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalProMedium.woff2") format("woff2"),
    url("/fonts/NBInternationalProMedium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalProRegular.woff2") format("woff2"),
    url("/fonts/NBInternationalProRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalProBook.woff") format("woff"),
    url("/fonts/NBInternationalProBook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "NBInternationalPro";
  src: url("/fonts/NBInternationalProLight.woff2") format("woff2"),
    url("/fonts/NBInternationalProLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// NBInternationalProMono
@font-face {
  font-family: "NBInternationalProMono";
  src: url("/fonts/NBInternationalProMono.woff2") format("woff2"),
    url("/fonts/NBInternationalProMono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
